@model IEnumerable<OrderManagementSystem.Areas.OMS.Models.Security>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OMS/Views/Shared/_LayoutOMS.cshtml";
}
<h2>Securities bought</h2>
<br>
@(Html.Kendo().Grid<OrderManagementSystem.Areas.OMS.Models.Security>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.TradeDate).Width(120);
            columns.Bound(c => c.SettlDate).Width(120);
            columns.Bound(c => c.MaturityDate).Width(120);
            columns.Bound(c => c.Price).Width(140);
            columns.Bound(c => c.Nominal).Width(140);
            columns.Bound(c => c.SecurityID).Width(140);
            columns.Bound(c => c.SecurityIDSource).Width(100);
            columns.Bound(c => c.Yield).Width(120);
            columns.Bound(c => c.Couponrate).Width(120);
            columns.Bound(c => c.Currency).Width(80);
            columns.Bound(c => c.GrosstradeAmt).Width(140);
            columns.Bound(c => c.AccruedInterestAmt).Width(140);
            columns.Bound(c => c.NetMoney).Width(140);
            columns.Bound(c => c.SecurityType).Width(120);
            columns.Bound(c => c.Issuer).Width(120);
            columns.Bound(c => c.Counterparty).Width(120);
        })
        .Filterable(filterable => filterable
        .Extra(false)
            .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
            ))
        )
        .HtmlAttributes(new { style = "height: 768px; width:100%;" })
        .Scrollable()
        .Groupable()
        .Sortable()

        .Resizable(resizable => resizable.Columns(true))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.TradeDate).Count();

            })
            .Read(read => read.Action("BuyRead", "Securities"))
            .PageSize(20)
        )

)

