@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Чуй 168<br />
    Бишкек, 720040<br />
    <abbr title="Phone">T:</abbr>
    +996 312 611030
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:skhan@nbkr.kg">skhan@nbkr.kg</a><br />
</address>